.backdrop{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 9;
}

.overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 85%;
}


/* #FC6957
#FCBC12
#E6E7EB */